<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mis Cuentas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    <!-- LOGOUT -->
    <button class="logout-button" onclick="location.href='{{ url_for('login') }}'">Logout</button>

    <div class="accounts-container">

        <button class="back-button" onclick="location.href='{{ url_for('inicio') }}'">Regresar</button>

        <h2>Mis Cuentas</h2>

        <!-- Tabla de Tarjetas -->
        <table>
            <thead>
                <tr>
                    <th>Tipo de Tarjeta</th>
                    <th>Código de Tarjeta</th>
                    <th>Saldo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for cuenta in cuentas %}
                <tr>
                    <td>{{ cuenta.TipoTarjeta }}</td>
                    <td>{{ cuenta.CodigoTarjeta }}</td>
                    <td>{{ cuenta.Saldo }}</td>
                    <td>
                        <form>
                            <button type="submit">Consultar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>

