<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button class="logout-button" onclick="location.href='{{ url_for('login') }}'">Logout</button>
    <div class="dashboard-container">
        <h2>Sistema de Tarjeta de Crédito</h2>
        <table class="credit-card-table">
            <thead>
                <tr>
                    <th>Número TF</th>
                    <th>Estado TF</th>
                    <th>Tipo de Cuenta</th>
                    <th>Fecha Venc.</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for tarjeta in tarjetas %}
                <tr class="card-row">
                    <td>{{ tarjeta.numero }}</td>
                    <td>{{ tarjeta.estado }}</td>
                    <td>{{ tarjeta.tipo_cuenta }}</td>
                    <td>{{ tarjeta.fecha_venc }}</td>
                    <td>
                        <button class="view-button" onclick="location.href='{{ url_for('estados_cuenta', codigo_tarjeta=tarjeta.numero, tipo_cuenta=tarjeta.tipo_cuenta) }}'">Ver</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>