<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Sistema de Tarjeta de Crédito</h2>
            <form action="{{ url_for('principal') }}">
                <label for="username">Usuario</label>
                <input type="text" id="username" placeholder="Ej. Usuario123">

                <label for="password">Contraseña</label>
                <input type="password" id="password" placeholder="********">

                <button type="submit">Acceder</button>
            </form>
        </div>
    </div>
</body>
</html>