<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movimientos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <button class="back-button" onclick="location.href='{{ url_for('inicio') }}'">Regresar</button>
    <h2>Movimientos de la Tarjeta {{ codigo_tarjeta }}</h2>
    <table class="movements-table">
        <thead>
            <tr>
                <th>Fecha Operación</th>
                <th>Tipo Movimiento</th>
                <th>Descripción</th>
                <th>Referencia</th>
                <th>Monto</th>
                <th>Nuevo Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for movimiento in movimientos %}
            <tr>
                <td>{{ mov.fecha_operacion }}</td>
                <td>{{ mov.tipo_movimiento }}</td>
                <td>{{ mov.descripcion }}</td>
                <td>{{ mov.referencia }}</td>
                <td>{{ mov.monto }}</td>
                <td>{{ mov.nuevo_saldo }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
